@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-primaria: rgb(17, 231, 17);
    --cor-secundaria: black;
    --cor-terciaria: rgba(0, 0, 0, 0.822);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(to bottom, var(--cor-secundaria), var(--cor-terciaria)) no-repeat fixed;
    height: 100vh;
    width: 100vw;
}
main {
    display: flex;
    justify-content: center;
}
#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    min-width: 500px;
    padding: 20px;
    margin-top: 50vh;
    transform: translateY(-50%);
    background:var(--cor-secundaria);
    border-radius: 15px;
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 0 15px var(--cor-secundaria);
}
#logo {
    width: 80px;
    margin-bottom: 0;
    filter: drop-shadow(0 0 10px var(--cor-primaria));
}
#container {
    display: flex;
    flex-direction: column;

}
#t {
    background-image: linear-gradient(to top, var(--cor-terciaria), var(--cor-primaria), var(--cor-primaria));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25pt;
    user-select: none;
    filter: drop-shadow(0 0 5px var(--cor-primaria));
}
#texto {
    background-image: linear-gradient(to top, var(--cor-terciaria), var(--cor-primaria), var(--cor-primaria));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25pt;
    user-select: none;
    word-break: break-all;
    text-overflow: ellipsis; /* Adicionando "..." ao final*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Quantidade de linhas*/
    -webkit-box-orient: vertical; 
}
#input {
    margin: 20px 0;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid gray;
    background: none;
    color: white;
    width: 400px;
    transition: .5s;
    outline: 0;
}
#input:focus {
    border: 2px solid transparent;
    border-radius: 0px;
    border-right: 2px solid var(--cor-primaria);
    border-left: 2px solid var(--cor-primaria);
}

@media (max-width: 650px) {
    #principal {
        min-width: 300px;
        max-width: 80vw;
    }
    #texto {
        font-size: 25px;
    }
    #input {
        width: 220px;
    }
}